{#
SPDX-FileCopyrightText: © 2024 Menacit AB <foss@menacit.se>
SPDX-License-Identifier: CC-BY-SA-4.0
X-Context: Database course - Security lab - Index HTML template for "payroll" app
#}
{% extends "base_template.html.jinja" %}
{% block body %}
<table>
	<tr>
		<th>Name</th>
		<th>Salary (USD)</th>
		<th>Employee page</th>
	</tr>
{% for agent in agents %}
	<tr>
		<td>{{ agent.name }}</td>
		<td>{{ agent.salary }}</td>
		<td><a href="/salary/{{ agent.agent_id }}">Update agent salary</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
